# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pyc

# Distribution / packaging
build/
develop-eggs/
dist/
*.egg-info/
*.egg
MANIFEST
node_modules/
static/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Environments
.virtualenvs

# IDE Project Settings
.vscode
.idea